<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="main-content">
    {{>header}} 
    <p>{{name}}</p>
    <p>This site is using API data from Mapbox.com & Openweather.org</p>
    <img id="meimg" src="/img/me.png"  />
    </div>

    {{>footer}}
  </body>
</html>
