<!DOCTYPE html>

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
 <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
  </head>

  <body>
    
    <div class="main-content">
          {{>header}}
          <form id="search">
            <input id="main" placeholder="Enter location"><button>Search</button>
            <p id="hint">{{name}}</p>
          </form>

          

          <p id="msg1"></p>
          <p id="msg2"></p>



      </div>

        <div id="map"></div>


    {{>footer}}

    
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
 

 
<script src="/js/load.js"></script>


  </body>
<script src="/js/app.js"></script>
</html>