<html>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <header>
    <title>Weather</title>
    <nav>

    </nav>
    <ul>
      <li style='float:left'><a href='/'>Weather</a></li>
      <li style='float:left'><a href='#news'>News</a></li>
      <li style='float:left'><a href='/product'>Contact</a></li>
      <li style='float:left'><a href='/about'>About</a></li>
      <li style='float:left'><a href='/help'>Help</a></li>
      <li class='dropdown'>
        <a href='javascript:void(0)' class='dropbtn'>Dropdown</a>
        <div class='dropdown-content'>
          <a href='#'>Link 1</a>
          <a href='#'>Link 2</a>
          <a href='#'>Link 3</a>
        </div>
      </li>
    </ul>

    <div id='mainHeader'>
      <h1>{{title}}</h1>
    </div>

  </header>
  <body>

  </body>
</html>